:root{
    --color-primary: #1f33a6e6;
    --color-primary-hover: rgb(46, 46, 231);
    --color-secundary: #41591C;
    --color-background1: #f2b705;
    --color-background2: #f2efbd;
    --color-background3: #fffa9e;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krona One';
    color: var(--color-white);
}

body{
    /* background-image: url('../assets/img_fundo.png');   
    background-size: cover; */
    background-color: #05004546;
    height: 100vh;
    width: 100%;
}

.caixa{
    height: 80%;
    width: 80%;
    background-color: var(--color-secundary);
    border-radius: 0.4em;
}

.login_fundo {
    background-image: url(/assets/background.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.caixaIcon {
    animation: fadeInLeft 3s ease-in-out forwards;
}

input, .btn_entrar, .btn_cadastrar{
    border: none;
    border-radius: 0.2em;
}

.input-fundo{
    height: 2em;
    background-color: var(--color-background2);
}

.input-fundo:focus{
    background-color: var(--color-background2);
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

.text_senha{
    align-self: flex-end;
    font-size: 0.6em;
    text-decoration: underline;
    color: var(--color-white);
}

.text_senha:hover {
    color: var(--color-primary);
}

.btn_entrar{
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 15%;
}

.btn_entrar:hover{
    background-color: var(--color-primary-hover);
}

#text_cadastrar {
    display: block;
    width: 100%;
    text-align: center;
}

.texto_casdastrar {
    color: var(--color-white);
}

.texto_casdastrar:hover {
    color: var(--color-primary);
}

header{
    background-color: var(--color-primary);
}

.logo{
    width: 5em;
}

.logo_clicar{
    cursor: pointer;
}

.navgator{
    background-color: var(--color-secundary);
}

ul {
    list-style-type: none;
}

label[data-descr] {
    position: relative;
    cursor: help;
}

label[data-descr]:hover::after,
label[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border-radius: 10px;
    color: var(--color-primary);
    background-color: var(--color-background1);
    padding: 12px;
    font-size: 14px;
    z-index: 1;
}

.btn_adicionar{
    border: none;
    border-radius: 50%;
    font-size: 5em;
    background-color: transparent;
}

.simbolo_adicionar{
    color: var(--color-background1);
}

.modal_fundo{
    background-color: var(--color-secundary);
}

/* table, th, td{
    border: 3px solid var(--color-primary);
    border-collapse: collapse;
    background-color: var(--color-background1);
    color: var(--color-primary);
} */

table {
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: var(--color-primary);
}
th {
    background-color: var(--color-background3);
}
tr {
    background-color: var(--color-background2);
}
tr:nth-child(even) {
    background-color: var(--color-background3);
}
tr:hover {
    background-color: var(--color-primary);
}
tr:hover td{
    color: var(--color-white);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0; 
        transform: translateX(-100px);
    }
    100% {
        opacity: 1; 
        transform: translateX(0);
    }
}

@media (min-width: 992px) {
    #text_login{
        order: 2;
    }

    #logo{
        order: 1;
    }
}

.texto_amarelo{
    color: var(--color-background1);
}

fieldset{
    background-color: var(--color-primary);
}

label, label i {
    color: var(--color-primary);
}
