:root{
    --color-primary: #242614;
    --color-primary-hover: #3a3d20;
    --color-secundary: #41591C;
    --color-background: #F2B705;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krona One';
    color: var(--color-white);
}

body{
    background-image: url('../assets/img_fundo.png');   
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.caixa {
    background-image: url(/assets/background.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.caixa{
    height: 80%;
    width: 80%;
    background-color: var(--color-secundary);
    border-radius: 0.4em;
}


.logo{
    width: 5em;
}

.logo_clicar{
    cursor: pointer;
}

input, .btn_entrar, .btn_cadastrar{
    border: none;
    border-radius: 0.2em;
}

input{
    height: 2em;
}

a{
    text-decoration: none;
    color: var(--color-primary);
}

.text_senha{
    align-self: flex-end;
    font-size: 0.6em;
    text-decoration: underline;
}

.btn_entrar{
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 100%;
}

.btn_entrar:hover{
    background-color: var(--color-primary-hover);
    height: 15%;
}

#text_cadastrar {
    display: block;
    width: 100%;
    text-align: center;
}

.barra_lateral{
    background-color: var(--color-background);
}

ul {
    list-style-type: none;
}

.navgator{
    background-color: var(--color-secundary);
}

label[data-descr] {
    position: relative;
    cursor: help;
}

label[data-descr]:hover::after,
label[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border-radius: 10px;
    color: var(--color-primary);
    background-color: var(--color-background);
    padding: 12px;
    font-size: 14px;
    z-index: 1;
}

.btn_adicionar{
    border: none;
    border-radius: 50%;
    font-size: 5em;
    background-color: transparent;
}

.text_senha {
    color: var(--color-white);
}

.text_senha:hover {
    color: var(--color-primary);
}

.texto_casdastrar {
    color: var(--color-white);
}
.texto_casdastrar:hover {
    color: var(--color-primary);
}

.simbolo_adicionar{
    color: var(--color-background);
}

table, th, td{
    border: 3px solid var(--color-primary);
    border-collapse: collapse;
    background-color: var(--color-background);
    color: var(--color-primary);
}

@media (min-width: 992px) {
    #text_login{
        order: 2;
    }

    #logo{
        order: 1;
    }
}

.caixaIcon {
    animation: fadeInLeft 3s ease-in-out forwards;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0; 
        transform: translateX(-100px);
    }
    100% {
        opacity: 1; 
        transform: translateX(0);
    }
}

.modal_fundo{
    background-color: var(--color-secundary);
}
