@import url('./global.css');

.logo{
    width: 5em;
}

.logo_clicar{
    cursor: pointer;
}

.navgator{
    background-color: var(--color-secundary);
}

ul {
    list-style-type: none;
}

label, label i {
    color: var(--color-text2);
}

.input-fundo{
    height: 2em;
    background-color: var(--color-white);
}

.input-fundo:focus{
    background-color: var(--color-background2);
}

label[data-descr] {
    position: relative;
    cursor: help;
}

label[data-descr]:hover::after,
label[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border-radius: 10px;
    color: var(--color-primary);
    background-color: var(--color-background1);
    padding: 12px;
    font-size: 14px;
    z-index: 1;
}

.btn_adicionar{
    border: none;
    border-radius: 50%;
    font-size: 5em;
    background-color: transparent;
}

.simbolo_adicionar{
    background: linear-gradient(49deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    color: var(--color-white);
}

.modal_fundo{
    background: linear-gradient(49deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
thead{
    background: linear-gradient(49deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: var(--color-text1);
}
th {
    color: var(--color-white);
}
tbody tr {
    background-color: var(--color-background2);
}
tbody tr:nth-child(even) {
    background-color: var(--color-background3);
}
tbody tr:hover {
    background-color: var(--color-primary);
}
tbody tr:hover td{
    color: var(--color-white);
}

@media (min-width: 992px) {
    #text_login{
        order: 2;
    }

    #logo{
        order: 1;
    }
}
